<div class="row-fluid">
  <div class="span12 well">

    Интренет-магазин <a href="/">Празник дества</a>, <%= Time.now.year %> год
    <div class="pull-right">
      <%= link_to("Условия доставки", :controller => :static, :action => :delivery) %>
      <%= link_to("Контакты", :controller => :static, :action => :about) %>
    </div>
  </div>
</div>

<%= render(:partial => 'shared/metrika') if Rails.env.production? %>
