<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Праздник дества</a>
        <ul class="nav">
          <%= content_tag :li, link_to("Условия доставки", page_path(:delivery)), :class => (current_page?(page_path(:delivery)) ? "active" : "") %>
          <%= content_tag :li, link_to("Контакты", page_path(:about)), :class => (current_page?(page_path(:about)) ? "active" : "") %>
        </ul>
      </div>
    </div>
  </div>
</div>
