<div class="row-fluid products">
  <% for product in products %>
    <div class="span4 product">
      <br /><div class="title"><%= link_to product.title, product %></div>
      <div class="picture"><%= link_to(image_tag(product.pictures.first.file.url(:small), :class => "img-polaroid"), product) if product.pictures.present? %></div>
      <br /><span class="price"><%= link_to product_price(product), new_order_path(:product => product.id) %> <%= link_to "заказать", new_order_path(:product => product.id), :class => "btn btn-primary" %></span>
    </div>
  <% end %>
</div>
