<h1>Контакты</h1>

<address>
  <strong>ИП "Баранова Светала Владимировна"</strong><br>
  123456, Московская обл., Ногинский р-н, г. Купавна<br>
  ул. Железнодорожная, тц "Большая Москва"<br>
  <abbr title="Phone">тел.:</abbr> (123) 456-7890
</address>

<address>
  <strong>Баранова Светала Владимировна</strong><br>
  <a href="mailto:ipbaranova@gmail.com">ipbaranova@gmail.com</a>
</address>

<h2>Реквизиты</h2>
<dl class="dl-horizontal">
  <dt>ЮГРИП</dt>
  <dd>12345678909876543234567</dd>

  <dt>Адрес</dt>
  <dd>Саратовская обл., г. Маркс&Энгельс, ул. пролитарская, 18, 4</dd>

  <dt>Еще реквизит</dt>
  <dd>Бла-блалоц аущш тцащш тту ащ тащ та</dd>

  <dt>И еще один</dt>
  <dd>Бух щашт  атщтпщ штущшпт </dd>
</dl>
