<h1>Контакты</h1>

<address>
  <strong>ИП "Баранова Светала Владимировна"</strong><br>
  Московская обл., г. Железнодорожный, мкр-н. Купавна, ул. Адмирала Нахимова, 13, тц "Купавна"<br>
  <abbr title="Phone">тел.:</abbr> +7 (909) 993 1642
</address>

<address>
  <strong>Баранова Светала Владимировна</strong><br>
  <a href="mailto:ipbaranova@gmail.com">ipbaranova@gmail.com</a>
</address>

<h2>Реквизиты</h2>
<dl class="dl-horizontal">
  <dt>Индивидуальный предприниматель</dt>
  <dd>Баранова Светала Владимировна</dd>
  <dt>ОГРН ИП</dt>
  <dd>312644921900015</dd>
</dl>
