<h1>Условия доставки</h1>
<p>Доставка осуществляется в Купавну, Электроугли, пос. Светлый, Вишняковские дачи, Железнодорожный.</p>

<h2>Стоимость доставки</h2>
<table class="table">
  <tr>
    <th>Объем заказа</th>
    <th>Стоимость доставки</th>
  </tr>
  <tr>
    <td>На сумму более 2000 руб.</td>
    <td><strong>Бесплатно</strong></td>
  </tr>
  <tr>
    <td>На сумму меньше 2000 руб.</td>
    <td>300 руб.</td>
  </tr>
</table>
