<h1>Условия доставки</h1>
<p>Мы осуществляем доставку по Ногинскому р-ну в течение 1 рабочего дня. Предоплата 100% наличными.</p>

<h2>Стоимость доставки</h2>
<table class="table">
  <tr>
    <th>Объем заказа</th>
    <th>Стоимость доставки</th>
  </tr>
  <tr>
    <td>На сумму более 2000 руб.</td>
    <td><strong>Бесплатно</strong></td>
  </tr>
  <tr>
    <td>На сумму меньше 2000 руб.</td>
    <td>300 руб.</td>
  </tr>
</table>
