<h1><%= @product.title %></h1>
<%= image_tag(@product.pictures.first.file.url(:medium)) if @product.pictures.present? %>
<p>
  Цена: <strong><%=  product_price(@product) %></strong>
</p>
<p>
  <%=raw @product.description %>
</p>
